<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quartz2dTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77E4A4041C5616EE00876799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E4A41D1C5616EF00876799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E4A4281C5616EF00876799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
